@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

$primary: #b0132b;

$footer-padding: 3rem 1.5rem;

$title-color: $grey-dark;
$title-weight: $weight-light;

$subtitle-color: $grey-dark;
$subtitle-weight: $weight-light;

$content-heading-color: $grey-darker;
$content-heading-weight: $weight-normal;

$text: $grey;

$fullhd: 1152px;

$family-sans-serif: 'Open Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
