/** Import the Bulma variables */
@import 'variables';

/** Import Bulma */
@import '~bulma';

/** Import overrides */
@import 'overrides';

/** Import misc */
@import 'misc';

.site-title {
    font-size: 2rem;
}

.navbar-item .user {
    font-size: 1.5rem;
    a {
        color: #f1f2f3;
    }
}

.tweet .tweet-content {
    padding-top: 1rem;
}

.login {
    max-width: 30rem;
    margin: 0 auto;
}
